<div [ngClass]="{'news-active': isNewsActive(), 'content-section implementation': true}">
    <p-toast></p-toast>
    <p-fileUpload 
        appUploadDrop
        name="demo[]" 
        url="./upload.php" 
        (onUpload)="onUpload($event)"
        multiple="multiple" 
        accept="image/*" 
        uploadLabel="Test Label"
        [style]=""
        maxFileSize="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
    </p-fileUpload>
</div>
